@font-face {
    font-family: amatic-reg;
    src: url("../../public/fonts/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: amatic-b;
    src: url("../../public/fonts/AmaticSC-Bold.ttf");
}

@font-face {
    font-family: "pop";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}