footer {
    .footerInfo {
        .holderTwo {
            i {
                color: gray;
            }

            .social {
                border-radius: 50%;
                border: 1px solid gray;
                padding: 7px;
            }
        }
    }
}