header {

    .anchor {
        background-color: $chefRed;
        border-radius: 50%;
        position: fixed;
        padding: 10px;
        bottom: 10%;
        right: 5%;
        z-index: 121212;
    }

    nav {
        padding: 20px;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: white;
        z-index: 11111;

        .logo {
            font-size: xx-large;
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                font-size: larger;

                a {
                    text-decoration: none;
                    display: inline-block;
                    color: gray;
                    font-weight: bold;
                    padding: 5px;
                }

                a::after {
                    content: '';
                    display: block;
                    transform: scaleX(0);
                    border-bottom: 2px solid $chefRed;
                    transition: transform 0.3s ease;
                    transform-origin: left;
                }

                a:hover {
                    color: black;
                }

                a:hover::after {
                    transform: scaleX(1);
                }
            }

            .dropdown {
                position: relative;
                display: inline-block;

                .dropbtn {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: gray;
                    font-weight: bold;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: $chefGray;
                    min-width: 160px;
                    z-index: 1;

                    .dropLink {
                        display: block;
                    }
                }
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
        }

        .btnHolder {

            label #btn,
            label #cancel {
                color: white;
                font-size: 30px;
                float: right;
                line-height: 80px;
                margin-right: 40px;
                margin-top: 15px;
                cursor: pointer;
                display: none;
            }

            #check {
                display: none;
            }
        }
    }
}


@media (min-width: 375px) and (max-width: 768px) {
    header {
        nav {
            height: fit-content;

            ul {
                position: absolute;
                width: 100vw;
                background-color: white;
                top: 100px;
                text-align: center;
                transition: all .5s;
            }

            .btnHolder {
                .hamburger {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-size: x-large;
                }
            }
        }
    }
}