header {

    .anchor {
        background-color: $chefRed;
        border-radius: 50%;
        position: fixed;
        padding: 10px;
        bottom: 10%;
        right: 5%;
        z-index: 121212;
    }

    nav {
        padding: 20px;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: white;
        z-index: 11111;
        height: 10vh;

        .logo {
            font-size: xx-large;
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                font-size: larger;

                a {
                    text-decoration: none;
                    display: inline-block;
                    color: gray;
                    font-weight: bold;
                    padding: 5px;
                }

                a::after {
                    content: '';
                    display: block;
                    transform: scaleX(0);
                    border-bottom: 2px solid $chefRed;
                    transition: transform 0.3s ease;
                    transform-origin: left;
                }

                a:hover {
                    color: black;
                }

                a:hover::after {
                    transform: scaleX(1);
                }
            }

            .dropdown {
                position: relative;
                display: inline-block;

                .dropbtn {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: gray;
                    font-weight: bold;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: $chefGray;
                    min-width: 160px;
                    z-index: 1;

                    .dropLink {
                        display: block;
                    }
                }
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }
        }

    }
}
.showMenu {
    transform: translateX(0);
}



@media (min-width: 375px) and (max-width: 768px) {
    header {
        nav {
            height: fit-content;

            ul {
                position: fixed;
                text-align: center;
                transform: translateX(100%);
                transition: transform 0.5s;
                top: calc(10vh + 25px);
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $chefGray;
                list-style: none;
                padding-top: 2rem;
                li{
                    margin-top: 10px;
                }
                
            }

            .btnHolder {
                .hamburger {
                    padding: 4px;
                    border: none;
                    background: transparent;

                    .closeIcon {
                        display: none;
                    }
                }
            }
        }
    }
}