.body {
    pointer-events: none;
    overflow: hidden;
    height: 100%;
}

main {
    .first_section {
        height: fit-content;
        padding: 60px;

        .introText {
            h2 {
                font-family: amatic-b;
                font-size: 3rem;
                font-weight: bold;
            }

            .divMod {
                .mod {
                    z-index: 22222;
                    background-color: black;
                    pointer-events: visible;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 100%;
                    width: 100%;

                    .x {
                        float: right;
                        color: white;
                        background-color: rgb(56, 56, 56);
                        border: none;
                        padding: 10px;
                    }

                    .modContent {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 80%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .second_section {
        height: fit-content;

        .aboutTitle {
            h2 {
                font-family: amatic-b;
            }
        }

        .about {
            .aboutImg {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: end;
                width: 50%;

                .aboutNumber {
                    position: absolute;
                    background-color: white;
                    height: fit-content;
                    width: 80%;
                    bottom: 10%;
                    text-align: center;
                }
            }

            .aboutText {
                width: 50%;

                ul {
                    list-style: url("../img/check-double-solid.svg");
                    font-size: larger;
                }

                .aboutVideo {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        position: absolute;
                    }
                }
            }
        }
    }

    .third_section {
        height: fit-content;

        .why {
            background-color: rgb(202, 0, 0);
            color: white;
            width: 75%;

            .whyLearn {
                background-color: rgb(250, 91, 91);
            }

            .whyLearn:hover {
                background-color: white;
                color: red !important;
            }
        }

        .reasons {
            .reason {
                height: 90%;
            }

            .reason:hover {
                transform: scale(1.2);
                transition: all 0.4s;
            }
        }
    }

    .fourth_section {
        background-image: url("../img/stats-bg.jpg");
        height: fit-content;
        min-height: 40vh;
        position: relative;
        display: flex;
        align-items: center;
        z-index: -1;

        .black {
            position: absolute;
            top: 0;
            background-color: black;
            opacity: 0.5;
            height: 100%;
            width: 100%;
            z-index: -1111;
        }

        .stats {
            color: white;
            z-index: 1011;
            width: 100%;

            .firstStats {
                div {
                    width: 25%;
                }
            }

            .secondStats {
                div {
                    width: 25%;
                }
            }
        }
    }

    .fifth_section {
        height: fit-content;

        .menuTitle {
            h2 {
                font-family: amatic-b;
            }
        }
    }

    .sixth_section {
        height: fit-content;
        padding: 20px;

        .caro-item {
            width: 33vw;
            position: relative;
            color: white;

            img {
                height: 20vw;
                filter: brightness(50%);
                // position: absolute;
            }

            .caro-text {
                position: absolute;
                bottom: 0;
                margin: 10px;
            }
        }
    }

    .seventh_section {
        .chefTitle {
            h2 {
                font-family: amatic-b;
            }
        }

        .chefCards {
            height: fit-content;

            .chef {
                background-color: white;
                width: 30vw;
            }

            .chef:hover {
                transform: scale(1.1);
                transition: all 0.5s;
            }
        }
    }

    .eigth_section {
        padding: 20px;
        height: fit-content;
        .bookTitle{
            h2{
                font-family: amatic-b;
            }
        }

        img {
            width: 33%;
        }

        .booking-inputs {
            form {
                div {
                    input {
                        width: 30%;
                        padding: 10px;
                    }

                    @media (min-width: 375px) and (max-width: 425px) {
                        input {
                            width: 100%;
                        }
                    }

                    @media (min-width: 426px) and (max-width: 768px) {
                        input {
                            width: 45%;
                            margin-left: 15px;
                        }

                        textarea {
                            margin-left: 15px;
                        }
                    }

                    textarea {
                        width: 95%;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .ninth_section {
        height: fit-content;
        padding: 20px;

        .galleryTitle{
            h2{
                font-family: amatic-b;
            }
        }

        /* container */
        .caro-holder {
            display: flex;
            justify-content: center;
            overflow-x: hidden;
        }

        .carous {
            border: 5px solid $chefRed;
            height: 200px;
            width: 25vw;
            position: relative;
            
            .slider {
                display: flex;
                justify-content: start;
                height: 100%;
                width: 1200%;
                transition: all 0.7s;
    
                section {
                    flex-basis: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .slider-controls {
                position: absolute;
                left: 50%;
    
                ul {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translate(-50%);
                    list-style: none;
                    display: flex;
                    padding: 0;
                    margin: 0;
    
                    li {
                        width: 20px;
                        height: 20px;
                        border: 1px solid gray;
                        border-radius: 50%;
                        margin: 3px;
                        background: gray;
                        cursor: pointer;
                    }
    
                    li.selected {
                        background: #f54343;
                    }
                }
            }
        }
        @media (min-width: 375px) and (max-width: 425px) {
            .carous {
                width: 80vw;
            }
        }
        @media (min-width: 426px) and (max-width: 768px) {
            .carous {
                width: 50vw;
            }
        }



    }


    .tenth_section {
        height: fit-content;
        padding: 20px;

        .contactTitle{
            h2{
                font-family: amatic-b;
            }
        }

        .contactInfo {
            .contactPart1 {
                .contactItem {
                    width: 49%;
                    padding: 15px;
                }

                @media (min-width:375px) and (max-width: 425px) {
                    .contactItem {
                        width: 100%;
                    }
                }
            }
        }

        .contactInputs {
            padding: 16px;
            margin-top: 20px;

            form {
                padding: 20px;
                box-shadow: 0px 0px 50px -1px rgb(192, 192, 192);

                .nameEmail {
                    input {
                        width: 50%;
                    }
                }

                textarea {
                    padding: 10px;
                }
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    main {
        .second_main {
            .about {
                .aboutImg {
                    width: 100%;
                }

                .aboutText {
                    width: 100%;
                }
            }
        }

        .third_section {
            .why {
                width: 100%;
                text-align: center;
            }
        }

        .seventh_section {
            .chefCards {
                .chef {
                    width: 300px;
                }
            }
        }

        .eigth_section {
            img {
                width: 100%;
                height: 75vh;
            }
        }

        .tenth_section {
            .contactInputs {
                form {
                    .nameEmail {
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}