main {
    .first_main {
        .introText {
            h2 {
                font-family: amatic-b;
                font-size: 3rem;
                font-weight: bold;
            }
        }
    }

    .second_main {
        .aboutTitle {
            h2 {
                font-family: amatic-b;
            }
        }

        .about {
            .aboutImg {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: end;
                width: 50%;

                .aboutNumber {
                    position: absolute;
                    background-color: white;
                    height: fit-content;
                    width: 80%;
                    bottom: 10%;
                    text-align: center;
                }
            }

            .aboutText {
                width: 50%;

                ul {
                    list-style: url("../img/check-double-solid.svg");
                    font-size: larger;
                }

                .aboutVideo {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    button {
                        position: absolute;
                    }
                }
            }
        }
    }

    .third_section {
        .why {
            background-color: rgb(202, 0, 0);
            color: white;
            width: 75%;

            .whyLearn {
                background-color: rgb(250, 91, 91);
            }

            .whyLearn:hover {
                background-color: white;
                color: red !important;
            }
        }

        .reasons {
            .reason {
                height: 90%;
            }

            .reason:hover {
                transform: scale(1.2);
                transition: all 0.4s;
            }
        }
    }

    .fourth_section{
        background-image: url("../img/stats-bg.jpg");
        height: fit-content;
        min-height: 40vh;
        position: relative;
        display: flex;
        align-items: center;
        z-index: -1;
        .black{
            position: absolute;
            top: 0;
            background-color: black;
            opacity: 0.5;
            height: 100%;
            width: 100%;
            z-index: -1111;
        }
        .stats{
            color: white;
            z-index: 1011;
            width: 100%;
            .firstStats{
                div{
                    width: 25%;
                }
            }
            .secondStats{
                div{
                    width: 25%;
                }
            }
        }
    }
    .fifth_section{
        .menuTitle{
            h2{
                font-family: amatic-b;
            }
        }
    }
    .sixth_section{
        .caro-item{
            
        }
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    main {
        .second_main {
            .about {
                .aboutImg {
                    width: 100%;
                }

                .aboutText {
                    width: 100%;
                }
            }
        }
        .third_section{
            .why{
                width: 100%;
                text-align: center;
            }
        }
    }
}